<template name="avHome">
{{#if Template.subscriptionsReady}}
  <img src="/img/av/header-av-1.jpg" style="width: 100%"/>
  <div class="container av">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Kafka träumte schlecht im AV</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify multi">
        <p>Jemand musste Josef K. verleumdet haben, denn ohne dass er etwas Böses getan hätte, wurde er eines Morgens verhaftet. »Wie ein Hund!« sagte er, es war, als sollte die Scham ihn überleben. Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. Und es war ihnen wie eine Bestätigung ihrer neuen Träume und guten Absichten, als am Ziele ihrer Fahrt die Tochter als erste sich erhob und ihren jungen Körper dehnte. »Es ist ein eigentümlicher Apparat«, sagte der Offizier zu dem Forschungsreisenden und überblickte mit einem gewissermaßen bewundernden Blick den ihm doch wohlbekannten Apparat. Sie hätten noch ins Boot springen können, aber der Reisende hob ein schweres, geknotetes Tau vom Boden, drohte ihnen damit und hielt sie dadurch von dem Sprunge ab. In den letzten Jahrzehnten ist das Interesse an Hungerkünstlern sehr zurückgegangen. Aber sie überwanden sich, umdrängten den Käfig und wollten sich gar nicht fortrühren.Jemand musste Josef K. verleumdet haben, denn ohne dass er etwas Böses getan hätte, wurde er eines Morgens verhaftet. »Wie ein Hund!« sagte er, es war, als sollte die Scham ihn überleben. Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. Und es war ihnen wie eine Bestätigung ihrer neuen Träume und guten Absichten, als am Ziele ihrer Fahrt die Tochter als erste sich erhob und ihren jungen Körper dehnte. »Es ist ein eigentümlicher Apparat«, sagte der Offizier zu dem Forschungsreisenden und überblickte mit einem gewissermaßen bewundernden Blick den ihm doch wohlbekannten Apparat.</p>
      </div>
    </div>
    <div class="spacer-20"></div>
    <div class="row">
      {{#each getFeaturedCustomer}}
        <div class="col-sm-4">
          <div class="panel panel-default panel-av">
            <div class="panel-heading">{{avCustomerName}}</div>
            <div class="panel-body">
              <p>
                {{avStreet}}<br>
                {{avPlz}} {{avCity}}<br>
                {{avCountry}}
              </p>
              <p>
                {{avShortinfo}}
              </p>
              <a class="btn btn-default btn-panel" href="/av/kd/{{avSiteUrl}}"><i class="fa fa-angle-double-right"></i> Details</a>          
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else}}
  {{> loading}}
{{/if}}
</template>