<template name="acpCountryList">
  <div class="container acp">
    <div class="spacer-20"></div>
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th class="col-sm-3">Kürzel</th>
              <th class="col-sm-9">Bezeichnung</th>
            </tr>
          </thead>
          <tbody>
            {{#each getList}}
              <tr>
                <td>{{countryShortName}}</td>
                <td>{{countryName}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div> 

</template>