/**
 * Less file for all sizes / standard
 * @since 0.1.1
 */  
@import url(http://fonts.googleapis.com/css?family=Amaranth);

html {
  margin: 0;
  padding: 0;
  height: 101%;
  width: 100%;
  overflow-y: scroll;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
}

.spacer-10 {
  padding: 5px 0;
}

.spacer-20 {
  padding: 10px 0;
}

.spacer-50 {
  padding: 25px 0;
}

.page {
  width: 100%;
  margin: 0;
}

.header {
  background: rgba(255,255,255,1);
  height: 100px;
  padding: 20px 0;
}

.header .siteNav > ul {
  list-style-type: none;
  padding: 10px 0 0 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: 'Amaranth', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Amaranth', sans-serif;
  font-size: 2.2em;
}

h3 {
  font-family: 'Amaranth', sans-serif;
  font-size: 1.3em;
}

h3.no-spacer {
  margin: 0;
}

h4 {
  font-family: 'Amaranth', sans-serif;
  font-size: 1.1em;
}

p {
  font-size: 1em;
}