<template name="rpHome">
  <img src="http://placehold.it/1200x350" style="width: 100%"/>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Kafka träumte schlecht</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-justify multi">
        <p>Jemand musste Josef K. verleumdet haben, denn ohne dass er etwas Böses getan hätte, wurde er eines Morgens verhaftet. »Wie ein Hund!« sagte er, es war, als sollte die Scham ihn überleben. Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. Und es war ihnen wie eine Bestätigung ihrer neuen Träume und guten Absichten, als am Ziele ihrer Fahrt die Tochter als erste sich erhob und ihren jungen Körper dehnte. »Es ist ein eigentümlicher Apparat«, sagte der Offizier zu dem Forschungsreisenden und überblickte mit einem gewissermaßen bewundernden Blick den ihm doch wohlbekannten Apparat. Sie hätten noch ins Boot springen können, aber der Reisende hob ein schweres, geknotetes Tau vom Boden, drohte ihnen damit und hielt sie dadurch von dem Sprunge ab. In den letzten Jahrzehnten ist das Interesse an Hungerkünstlern sehr zurückgegangen. Aber sie überwanden sich, umdrängten den Käfig und wollten sich gar nicht fortrühren.Jemand musste Josef K. verleumdet haben, denn ohne dass er etwas Böses getan hätte, wurde er eines Morgens verhaftet. »Wie ein Hund!« sagte er, es war, als sollte die Scham ihn überleben. Als Gregor Samsa eines Morgens aus unruhigen Träumen erwachte, fand er sich in seinem Bett zu einem ungeheueren Ungeziefer verwandelt. Und es war ihnen wie eine Bestätigung ihrer neuen Träume und guten Absichten, als am Ziele ihrer Fahrt die Tochter als erste sich erhob und ihren jungen Körper dehnte. »Es ist ein eigentümlicher Apparat«, sagte der Offizier zu dem Forschungsreisenden und überblickte mit einem gewissermaßen bewundernden Blick den ihm doch wohlbekannten Apparat.</p>
      </div>
    </div>
    <h3 class="page-header text-center">Vermietung</h3>
    <div class="row">
      {{#each getRentings}}    
        <div class="col-sm-4 text-center" style="margin-bottom: 20px;">
          <a href="/rp/1/{{rpRentingsSiteUrl}}" style="color: rgba(0,0,0,1)"><img src="{{rpRentingsDefaultImage}}" style="width: 370px;"/>{{rpRentingsName}}, {{#each rpRentingsRegions}}{{name}}{{/each}}</a>
        </div>
      {{/each}}
    </div>
    <h3 class="page-header text-center">Reisen</h3>
    <div class="row">
      {{#each getTours}}
        <div class="col-sm-4 text-center" style="margin-bottom: 20px;">
          <a href="/rp/2/{{toursSiteUrl}}" style="color: rgba(0,0,0,1)"><img src="{{toursDefaultImage}}" style="width: 370px;"/>{{toursName}}</a>
        </div>
      {{/each}}
    </div>
  </div>
</template>