<template name="acpUploads">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-header">Uploads</h1>
      </div>
    </div>
    <div class="spacer-20"></div>
    <div class="row">
      <!-- uplAvCustomers -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload AV-Kunden <small>Datensätze: {{getPublishedCount 'cnt_allCustomers'}}</small></h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvCustomers">
              <input type="file" id="fileUplAvCustomers" name="fileUplAvCustomers">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvCountries -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Länder <small>Datensätze: {{getPublishedCount 'cnt_allCountries'}}</small></h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvCountries">
              <input type="file" id="fileUplAvCountries" name="fileUplAvCountries">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvChapters -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Adresskapitel <small>Datensätze: {{getPublishedCount 'cnt_allAvChapters'}}</small></h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvChapters">
              <input type="file" id="fileUplAvChapters" name="fileUplAvChapters">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <!-- uplAvChaptersSections -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Adressbereiche</h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvChaptersSections">
              <input type="file" id="fileUplAvChaptersSections" name="fileUplAvChaptersSections">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvAssociations -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Verbände <small>Datensätze: {{getPublishedCount 'cnt_allAvAssociations'}}</small></h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvAssociations">
              <input type="file" id="fileUplAvAssociations" name="fileUplAvAssociations">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvBlockIndicators -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Sperren <small>Datensätze: {{getPublishedCount 'cnt_allAvBlockIndicators'}}</small></h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvBlockIndicators">
              <input type="file" id="fileUplAvBlockIndicators" name="fileUplAvBlockIndicators">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <!-- uplAvCustomersLog -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Änderungslogs</h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvCustomersLog">
              <input type="file" id="fileUplAvCustomersLog" name="fileUplAvCustomersLog">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvCampaigns -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Aktionen <small>Datensätze: {{uplAvCampaignsCount}}</small></h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvCampaigns">
              <input type="file" id="fileUplAvCampaigns" name="fileUplAvCampaigns">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvEducations -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Ausbildungen <small>Datensätze: {{uplAvEducationsCount}}</small></h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvEducations">
              <input type="file" id="fileUplAvEducations" name="fileUplAvEducations">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <!-- uplAvChaptersAssign -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Zuordnung Kapitel</h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvChaptersAssign">
              <input type="file" id="fileUplAvChaptersAssign" name="fileUplAvChaptersAssign">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvAssociationsAssign -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Zuordnung Verbände</h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvAssociationsAssign">
              <input type="file" id="fileUplAvAssociationsAssign" name="fileUplAvAssociationsAssign">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvBlockIndicatorsAssign -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Zuordnung Sperren</h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvBlockIndicatorsAssign">
              <input type="file" id="fileUplAvBlockIndicatorsAssign" name="fileUplAvBlockIndicatorsAssign">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <!-- uplAvCampaignsAssign -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Zuordnung Aktionen</h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvCampaignsAssign">
              <input type="file" id="fileUplAvCampaignsAssign" name="fileUplAvCampaignsAssign">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
      <!-- uplAvEducationsAssign -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Upload Zuordnung Ausbildungen</h3></div>
          <div class="panel-body">
            <form role="form" id="uplAvEducationsAssign">
              <input type="file" id="fileUplAvEducationsAssign" name="fileUplAvEducationsAssign">
              <button type="submit" class="btn btn-default">Hochladen</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>