<template name="acpCustomersList"> 
{{#if Template.subscriptionsReady}} 
  <div class="container acp">
    <div class="row">
      <div class="col-sm-12">
        <h2>Kundensuche</h2>
      </div>
    </div>
    <div class="spacer-20"></div>
    <div class="row">
      <div class="col-sm-6">
        Suche in freigegebenen Kundendaten: {{> esInput index="customers" id="customersId" placeholder="KundenNr od. Name" }}
      </div>
      <div class="col-sm-6">
        Suche in nicht freigegebenen Kundendaten: {{> esInput index="customersPending" id="customersPendingId" placeholder="KundenNr od. Name" }}
      </div>
    </div>
    <div class="spacer-20"></div>
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>AV-Nr</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>            
              {{#ifEsInputIsEmpty index="customers" id="customersId"}}
                <div><h3><small>Kein Ergebnis. Es muss erst ein Suchbegriff eingegeben werden.</small></h3></div>
              {{/ifEsInputIsEmpty}}
          
              {{#esEach index="customers" id="customersId"}}
                {{> acpCustomersListFound}}
              {{/esEach}}
              
              {{> esLoadMoreButton index="customers" id="customersId"}}
              
              {{#ifEsHasNoResults index="customers" id="customersId"}}
                <div class="no-results"><h3><small>Keine Kunden gefunden. Bitte erneut suchen.</small></h3></div>
              {{/ifEsHasNoResults}}
              
              {{#ifEsIsSearching index="customers" id="customersId"}}
                <div><h3><small>Es wird gesucht...</small></h3></div>
              {{/ifEsIsSearching}}     
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>AV-Nr</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>            
              {{#ifEsInputIsEmpty index="customersPending" id="customersPendingId" }}
                <div><h3><small>Kein Ergebnis. Es muss erst ein Suchbegriff eingegeben werden.</small></h3></div>
              {{/ifEsInputIsEmpty}}
          
              {{#esEach index="customersPending" id="customersPendingId" }}
                {{> acpCustomersPendingListFound}}
              {{/esEach}}
              
              {{> esLoadMoreButton index="customersPending" id="customersPendingId" }}
              
              {{#ifEsHasNoResults index="customersPending" id="customersPendingId" }}
                <div class="no-results"><h3><small>Keine Kunden gefunden. Bitte erneut suchen.</small></h3></div>
              {{/ifEsHasNoResults}}
              
              {{#ifEsIsSearching index="customersPending" id="customersPendingId" }}
                <div><h3><small>Es wird gesucht...</small></h3></div>
              {{/ifEsIsSearching}}     
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{else}}
  {{> loading}}
{{/if}}
</template>

<template name="acpCustomersListFound">
  <tr>
    <td><a href="/acp/kd/edit/{{_id}}">{{customerId}}</a></td>
    <td><a href="/acp/kd/edit/{{_id}}">{{customerName}}</a></td>
  </tr>
</template>

<template name="acpCustomersPendingListFound">    
  <tr>
    <td><a href="/acp/kd/edit/{{_id}}">{{customerId}}</a></td>
    <td><a href="/acp/kd/edit/{{_id}}">{{customerName}}</a></td>
  </tr>
</template>
