<template name="rpFooter">      
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <br>
          <p>
            <img src="/img/rp/Logo-Reiseportal-tr-gr.png" /><br><br>
            ist ein Projekt des <a href="http://www.info3-verlag.de" target="_blank">Info3-Verlages</a>, Frankfurt am Main.<br>
          </p>
          <p> 
            <a href="/rp/impressum">Impressum</a> | <a href="/rp/agb">AGB</a> | <a href="/rp/kontakt">Kontakt</a> | <a href="/rp/mediadaten">Mediadaten</a>
          </p>
        </div>
      </div>
      <div class="spacer-20"></div>
      <div class="row">
        <div class="col-sm-12">
          <p class="text-center">
            <a href="" class="btn btn-default scroll-top"><i class="fa fa-arrow-up"></i> Zum Seitenanfang</a><br><br>
            Anthroposophie.de | &copy; 2015 Info3 Verlagsgesellschaft Brüll & Heisterkamp KG | Verantwortlich: Simon Knipping | Version: {{> version}}                                                              
          </p>
        </div>
      </div>
    </div>
  </footer>
</template> 