<template name="rpHeader">
  <!-- header -->
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="siteLogo"><a href="/rp" alt="home"><img src="/img/rp/Logo-Reiseportal-1.png"/></a></div>
        </div>
        <div class="col-sm-6">
          <div class="fb-like" data-href="https://www.facebook.com/info3verlag" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>  
        </div>
        <div class="col-sm-2">
          <nav class="siteNav">
            <ul>
              <li><a href="/rp/kontakt"><i class="fa fa-user"></i> Kontakt</a></li>
              <li><a href="/rp/mediadaten"><i class="fa fa-file-image-o"></i> Mediadaten</a></li>
            </ul>
          </nav>  
        </div>
      </div>
    </div>
  </div>  
  <div class="topnav">
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <nav class="navbar" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/rp"><i class="fa fa-home"></i> Startseite</a></li>
                  <li><a href="/rp/ld"><i class="fa fa-globe"></i> Länder</a></li>
                  <li><a href="/rp/rn"><i class="fa fa-key"></i> Vermietung</a></li>
                  <li><a href="/rp/ts"><i class="fa fa-plane"></i> Reisen</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col-sm-3 pull-right">
          <form class="form-horizontal" role="form">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" aria-describedby="search">
              <span class="input-group-addon" id="search"><i class="fa fa-search"></i></span>
            </div>      
          </form>
        </div>
      </div>
    </div>
  </div>    
</template>
