<template name="listChapters">       
  <select name="chapterData" id="chapterData" data-schema-key="chapterData" autocomplete="off" class="form-control" tabindex="-1" data-placeholder="Kapitel wählen">
    {{{listChapters}}}
  </select>
</template> 