<template name="listCountries">       
  <select name="countryData" id="countryData" multiple="true" data-schema-key="countryData" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Land wählen">
    {{{listCountries}}}
  </select>
</template>   

<template name="listSingleCountry">       
  <select name="countryData" id="countryData" data-schema-key="countryData" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Land wählen">
    {{{listSingleCountry}}}
  </select>
</template>   

<template name="editCountries">       
  <select name="countryData" id="countryData" multiple="true" data-schema-key="countryData" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Land wählen">
    {{{editCountries}}}
  </select>
</template>   

<template name="listCountriesSelect">       
  <select name="countryData" id="countryData" data-schema-key="countryData" autocomplete="off" class="form-control" tabindex="-1" data-placeholder="Land wählen">
    {{{listCountries}}}
  </select>
</template> 

<template name="editCountriesSelect">       
  <select name="countryData" id="countryData" data-schema-key="countryData" autocomplete="off" class="form-control" tabindex="-1" data-placeholder="Land wählen">
    {{{listCountries}}}
  </select>
</template>   

<template name="editCountriesSelection">       
  <select name="countryData" id="countryData" data-schema-key="countryData" autocomplete="off" class="form-control" tabindex="-1" data-placeholder="Land wählen">
    {{{listCountries}}}
  </select>
</template>                                                                                                          