<template name="listRegions">       
  <select name="regionData" id="regionData" multiple="true" data-schema-key="regionData" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Region wählen">
    {{{listRegions}}}
  </select>
</template>  

<template name="editRegions">       
  <select name="regionData" id="regionData" multiple="true" data-schema-key="regionData" autocomplete="off" class="form-control select2-offscreen" tabindex="-1" data-placeholder="Region wählen">
    {{{editRegions}}}
  </select>
</template>                                                                                                     