<template name="acpHeader">
  <!-- header -->
  <div class="header acp">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="siteLogo"><a href="/acp" alt="Startseite AV-Portal"><h1>Admin Control Panel</h1></a></div>
        </div>
      </div>
    </div>
  </div>  
  <div class="topnav acp">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <nav class="navbar" role="navigation">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/acp"><i class="fa fa-home"></i> Home</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-users"></i> Kunden<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/acp/kd/new"><i class="fa fa-plus"></i> Neu</a></li>
                      <li><a href="/acp/kd/list"><i class="fa fa-users"></i> Suche</a></li>
                      <li><a href="/acp/kd/sel"><i class="fa fa-cubes"></i> Selektion</a></li>
                      <li><a href="/acp/kd/medit"><i class="fa fa-cubes"></i> Multi-Edit</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cubes"></i> Portale<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/acp/av/list"><i class="fa fa-cubes"></i> AV-Portal</a></li>
                      <li><a href="/acp"><i class="fa fa-cubes"></i> Reiseportal</a></li>
                      <li><a href="/acp"><i class="fa fa-cubes"></i> KiGa-Portal</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cubes"></i> Listen<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/acp/cl"><i class="fa fa-cubes"></i> Länder</a></li>
                      <li><a href="/acp/acl"><i class="fa fa-cubes"></i> Adresskapitel</a></li>
                      <li><a href="/acp/al"><i class="fa fa-cubes"></i> Verbände</a></li>
                      <li><a href="/acp/bil"><i class="fa fa-cubes"></i> Sperren</a></li>
                    </ul>
                  </li>
                  <li><a href="/acp/upload"><i class="fa fa-home"></i> Uploads</a></li> 
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {{#with currentUser}}<li><a href="/acp/profil"><i class="fa fa-user"></i> {{#with profile}}{{first_name}} {{last_name}}{{/with}}</a></li>{{/with}}
                  {{#if currentUser}}<li><a href="/logout"><i class="fa fa-sign-out"></i> Ausloggen</a></li>{{/if}}
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>    
</template>
